<table class="table material">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in vm.users">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <div class="tooltip fontawesome-cogs">
           <div>
              <a ui-sref="list.user({index: $index})">Edit</a>
              <a ng-click="vm.removeItem($index)">Remove</a>
           </div>
        </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<button ui-sref="list.user.add" class="btn">Create new</button>